Repository IIT-PAVIS/lifting_events_to_3d_hpe: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: pipenv run isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: pipenv run black
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: pipenv run flake8
        types: [python]
        exclude: setup.py

      - id: mypy
        name: mypy
        stages: [push]
        language: system
        verbose: true
        entry: bash -c 'pipenv run mypy experimenting || true'
        types: [python]
        pass_filenames: false

Improving reprod
  requirements.txt
  scripts/h3m/generate_event_h3m.sh
Due: none

fixes
  experimenting/dataset/core/dhp19core.py
  experimenting/dataset/core/h3mcore.py
Due: isort, black, flake8, mypy

Set theme jekyll-theme-slate
  _config.yml
Due: none

Delete evaluate_h3m.py
  scripts/evaluate_h3m.py
Due: isort, black, flake8, mypy

Rename evaluate_dhp19.py to evaluate_dhp19_per_movement.py
  scripts/evaluate_dhp19_per_movement.py
Due: isort, black, flake8, mypy

Update README.md
  experimenting/dataset/README.md
Due: none

Delete ntucore.py
  experimenting/dataset/core/ntucore.py
Due: isort, black, flake8, mypy

Update __init__.py
  experimenting/dataset/core/__init__.py
Due: isort, black, flake8, mypy

Update test_core.py
  tests/units/test_core.py
Due: isort, black, flake8, mypy

Update index.rst
  docs/source/index.rst
Due: none

Update setup.py
  setup.py
Due: isort, black, mypy

Update __init__.py
  experimenting/dataset/__init__.py
Due: isort, black, flake8, mypy

Update test_factory.py
  tests/units/test_factory.py
Due: isort, black, flake8, mypy

Update conf.py
  docs/source/conf.py
Due: isort, black, flake8, mypy

Update README.md
  README.md
Due: none

fix
  experimenting/dataset/core/h3mcore.py
  experimenting/dataset/factory.py
Due: isort, black, flake8, mypy

fix
  experimenting/dataset/core/h3mcore.py
Due: isort, black, flake8, mypy

Docs fixes
  docs/source/index.rst
Due: none

Fixes
  docs/source/index.rst
Due: none

Update dsntnn.py
  experimenting/utils/dsntnn.py
Due: isort, black, flake8, mypy

docs
  docs/source/index.rst
Due: none

docs
  docs/source/index.rst
  scripts/h3m/README.md
Due: none

new page!
  README.md
Due: none

fix page
  README.md
Due: none

new gif!
  README.md
  resources/figures/hpe.gif
Due: none

Paper added!
  README.md
  resources/figures/hpe.gif
Due: none

fix
  README.md
Due: none

abs
  README.md
Due: none
